<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lurid</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel ="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <!-- nav bar -->
    <nav>
        <ul class="nav-ul">
            <a href="{{ url_for('index')}}"><img class="nav-logo" src="{{ url_for('static', filename='res/lurid_logo_w_3d.png') }}"> </a> </li>
            <li><a href="{{ url_for('talk') }}">Talk</a></li>
        </ul>
    </nav>
    <!-- splash -->
    <div>
        
    </div>
</body>
</html>