<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lurid</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel ="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="hero">
        <div class="clouds"></div>
        <div class="hero-content">
            <img class="hero-logo" src="{{ url_for('static', filename='res/lurid_logo_w_3d.png') }}">
            <p class="tagline">A soft space to unpack what’s on your mind.</p>
            <a href="{{ url_for('talk') }}" class="cta-btn">Let’s start talking</a>
        </div>
    </div>
</body>
</html>